<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    verbose="true"
>
    <testsuites>
        <testsuite name="Data Machine Engine Core Tests">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Data Machine Integration Tests">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">inc/Engine</directory>
            <directory suffix=".php">inc/Core</directory>
            <exclude>
                <directory>tests</directory>
                <directory>vendor</directory>
                <file>data-machine.php</file>
            </exclude>
        </whitelist>
    </filter>
    
    <php>
        <const name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="vendor/yoast/phpunit-polyfills/phpunitpolyfills-autoload.php"/>
        <env name="WP_DEBUG" value="true"/>
        <env name="WP_DEBUG_LOG" value="false"/>
        <env name="WP_DEBUG_DISPLAY" value="false"/>
    </php>
</phpunit>